* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: {
    color: $root-bg;
  };
  font: {
    family: 'Open Sans';
    size: 15px;
    weight: normal;
  };
}

.root, .base {
  width: 100%;
}

@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html & { height: 1px }
}
